@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1744523657486') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujuku:before {
  content: "\e615";
}

.icon-iconguifanSVGyuanwenjian_xitongjiankong-gaoliang:before {
  content: "\e63e";
}

.icon-wenjianxitong:before {
  content: "\e721";
}

.icon-icon-wenjianxitong-:before {
  content: "\e60e";
}

.icon-icon-wenjianxitong-1:before {
  content: "\e612";
}

.icon-icon-wenjianxitong-2:before {
  content: "\e61c";
}

.icon-icon-wenjianxitong-3:before {
  content: "\e61d";
}

.icon-icon-wenjianxitong-4:before {
  content: "\e61e";
}

.icon-viewList:before {
  content: "\e65f";
}

.icon-wenjianxitong1:before {
  content: "\e64d";
}

.icon-01-icon-wenjianxitongjiancerenwu:before {
  content: "\e639";
}

.icon-shujuku1:before {
  content: "\e997";
}

.icon-wenjianxitong-86:before {
  content: "\e740";
}

.icon-wenjianxitongxinxi:before {
  content: "\e61f";
}

.icon-shitu_biaoge:before {
  content: "\e6a2";
}

.icon-wenjianxitong2:before {
  content: "\e61a";
}

.icon-wenjianxitong3:before {
  content: "\e7b1";
}

.icon-file-system:before {
  content: "\e74e";
}

.icon-wenjianxitongtubiao-01:before {
  content: "\e636";
}

.icon-wenjianxitongbeifen:before {
  content: "\e6a7";
}

.icon-wenjianxitongshu:before {
  content: "\e646";
}

.icon-wenjianxitong4:before {
  content: "\e69c";
}

.icon-wenjianxitonghuiju-hover:before {
  content: "\e65d";
}

.icon-a-1_wenjianxitong:before {
  content: "\e555";
}

