server:
  port: ${GATEWAY_PORT}
spring:
  profiles:
    include: ${DB_TYPE:mysql}
  application:
    name: sqlrest-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: api_executor_route
          uri: lb://sqlrest-executor
          predicates:
            - Path=/api/**
        - id: api_token_executor_route
          uri: lb://sqlrest-executor
          predicates:
            - Path=/token/generate
        - id: api_doc_executor_route
          uri: lb://sqlrest-executor
          predicates:
            - Path=/apidoc/**
        - id: user_manager_route
          uri: lb://sqlrest-manager
          predicates:
            - Path=/user/**
        - id: manager_route
          uri: lb://sqlrest-manager
          predicates:
            - Path=/sqlrest/manager/**
        - id: eureka_manager_route
          uri: lb://sqlrest-manager
          predicates:
            - Path=/dashboard/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: '*'
            allowed-methods: '*'
            allowed-headers: "*"

sqlrest:
  datasource:
    encrypt: ${SQLREST_DS_ENCRYPT:false}
  cache:
    hazelcast:
      enabled: true
    redis:
      enabled: false
      host: 127.0.0.1
      port: 6379
      password: 123456
      database: 0

mybatis:
  configuration:
    lazy-loading-enabled: true
    aggressive-lazy-loading: false
    map-underscore-to-camel-case: true
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus:
  global-config:
    banner: false

logging:
  config: classpath:logback-gateway.xml

eureka:
  instance:
    prefer-ip-address: true
    secure-port-enabled: false
    non-secure-port-enabled: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
  client:
    healthcheck:
      enabled: true
    registry-fetch-interval-seconds: 5
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://${MANAGER_HOST}:${MANAGER_PORT}/eureka/

